.spectacle-slide {
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

/* Firefox */

_:-moz-tree-row(hover),
.spectacle-deck {
  perspective: 1000px;
}

_:-moz-tree-row(hover),
ul .appear {
  display: inline;
}

@keyframes pacmanTopFrames {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-30deg);
  }
}

@keyframes pacmanBottomFrames {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(30deg);
  }
}

@keyframes pacmanTopFramesBis {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-30deg);
  }
}

@keyframes pacmanBottomFramesBis {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(30deg);
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
/* custom */
.spectacle-content {
  max-width: 1050px !important;
  max-height: 900px !important;
}

h1 {
  border: none !important;
}
